
@{
    ViewBag.Title = "Error404";
}


<div class="d-flex align-items-center justify-content-center vh-100">
	<div class="text-center">
		<h1 class="display-1 fw-bold">404</h1>
		<p class="fs-3"> <span class="text-danger">Opps!</span> Stranica nije pronađena.</p>
		<p class="lead">
			Tražena stranica ne postoji.
		</p>
		<a href=@Url.Action(controllerName:"Apartment",actionName:"Search") class="btn btn-primary">Početna</a>
	</div>
</div>